.scout-card{
    background:var(--bg-secondary);
    border:1px solid var(--border);
    border-radius:22px;
    overflow:hidden;
    transition:.35s;
}

.scout-card:hover{
    transform:translateY(-8px);
    border-color:var(--brand-teal);
    box-shadow:0 20px 45px rgba(0,0,0,.35);
}

.scout-image{
    height:220px;
    background:#374151;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--text-secondary);
    font-size:1.4rem;
    font-weight:600;
}

.scout-content{
    padding:24px;
}

.scout-content h2{
    color:var(--text-primary);
    font-size:1.8rem;
    margin-bottom:8px;
}

.scout-club{
    color:var(--text-secondary);
    margin-bottom:24px;
}

.scout-info{
    display:flex;
    gap:15px;
    margin-bottom:24px;
}

.info-box{
    flex:1;
    background:rgba(255,255,255,.03);
    border:1px solid var(--border);
    border-radius:14px;
    padding:14px;
    text-align:center;
}

.info-box span{
    display:block;
    color:var(--text-secondary);
    font-size:.9rem;
    margin-bottom:6px;
}

.info-box h3{
    color:var(--text-primary);
    font-size:1.1rem;
}

.players-found{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:25px;

    padding:16px 20px;

    border:1px solid var(--border);
    border-radius:14px;

    background:rgba(255,255,255,.02);
}

.players-found span{
    color:var(--text-secondary);
}

.players-found strong{
    color:var(--brand-teal);
    font-size:2rem;
}

.scout-btn{
    width:100%;
    height:55px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    background:var(--brand-teal);
    color:var(--bg-primary);

    border-radius:14px;

    font-weight:700;
    transition:.3s;
}

.scout-btn:hover{
    background:var(--brand-green);
}